.DS_Store
/.Trash/
/Desktop/
/Documents/
/Downloads/
/Movies/
/Music/
/Pictures/
/Public/
/.config/
.afirma/
.anaconda/
.conda/
.ipython/
.jupyter/
.spyder-py3/
.vscode/
.kite/
.ipynb_checkpoints/
.oracle_jre_usage/