# 🧠 Fitxers de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# 📘 Fitxers de notebooks
.ipynb_checkpoints/

# 🧪 Entorns virtuals
env/
.venv/
venv/
ENV/
env.bak/
.conda/

# 📂 Fitxers ocults o del sistema
.DS_Store
*.log
*.sqlite3
*.db
*.lock
*.bak

# 📊 Dades que no cal pujar
*.csv
*.tsv
*.h5
*.zip
*.tar
*.tar.gz
*.npy
*.npz

# 🔧 VS Code
.vscode/

# 🧪 Fitxers temporals de tests
coverage.*
htmlcov/
.cache/
pytest_cache/

# 📁 Fitxers de Jupyter runtime
~/.local/share/jupyter/runtime/
